#contenedorLogo{
    z-index: 2;
    justify-content: center;
    background-color:#F4FBEB;
    display: flex;
    justify-content: center;
    padding-top: 4%;
    padding-bottom: 4%;
}
#logo{width: 20%;}
#nombre{
    font-family: 'Germania One';
    font-style: normal;
    font-weight: 400;
    font-size: 56px;
    line-height: 65px;
    text-align: center;
    color: #5D932F;
}
a{
    text-decoration: none;
}
#menu{
    background-color:#F4FBEB;
    position: relative;
    max-width: 100%; /* Asegura que el menú siempre ocupe todo el ancho disponible */
    margin-bottom: 2%;
}
#submenu{
    background-color:#F4FBEB;
    max-width: 100%;
    padding-top: 3%;
    padding-bottom: 3%;
    z-index: 2;
}
#funciona,#subirServ,#comprarMon,#novedades,#todasCat{
    color:green;
    background-color:#F4FBEB;
}


#formu{
    position:absolute,left 50%,right 0%;
    background-color: #F4FBEB;
}
#search{
    background-color:#F4FBEB;
    border-color:white;
}
#icobuscar{
    color:green;
    font-size: 1.1rem;
}
#barra{
    margin-top:10px;
    margin-bottom:10px;
}


#Personal{
    color:black;
}
#icopersona{
    font-size: 1.2rem;
}

#menuregistro{
    background-color:#F4FBEB;
    right: 50px;
}
#registro{
    color:black;
}
#menIdiomas{
    margin-left: 92%;
    right: 0;
}
#idiomas{
    color:black;
}


#funciona:hover,#subirServ:hover,#comprarMon:hover,#novedades:hover,#todasCat:hover,#icobuscar:hover{
    background-color:green;
    color:white;
}

#idiomas:hover, #registro:hover, #Personal:hover{
    color:green;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#search:hover, #icobuscar:hover{
    background-color:green;
    color:white !important;
}

#iniSesionContainer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    height: 100%; /* Para asegurar que todos ocupen la misma altura */
    background-color:#F4FBEB;
    padding-left: 90%;
    z-index: 1;
}

#iniSesion, #menuregistro, #menIdiomas {
    background-color: #F4FBEB;
    color: black;
    padding: 0 10px; /* Añadir espacio entre los elementos */
}

#iniSesion:hover, #menuregistro:hover, #menIdiomas:hover {
    color: green;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}

#pie{
    background-color:#91A971;
    padding-right:10px;
    padding-left:10px;
    margin-top: 2%;
}

#facebook, #twitter, #youtube, #apple, #android,#instagram{
    font-size: 1.5rem;
}
#conocenos, #descubre, #legal{

    font-family:alegreya-light;
}
#textpie{
    font-family:alegreya-light;
    background-color: rgba(0, 0, 0, 0.05);
}
footer i:hover{
    background-color:#8a9976;
    color:white;
}
dt {
    font-weight: normal !important;
}

.card-title{
    background-color: #F4FBEB ;
}

#mitabla{
    width: 100%;
}
.centered, td{
    text-align: center !important;
    vertical-align:middle r!important;
    }
    .table-striped > thead{
        background-color: #5D932F;
        color:white;
    }
    .table-striped > tbody > tr:nth-of-type(odd) {
        background-color: #F4FBEB;
        padding-bottom: 15%;
        
    }
    .table-striped > tbody > tr:hover{
        background-color: #E5ECDE;
        font-weight: bold;
    }
   .page-link,.page-item{
    background-color: #5D932F !important;
    color:white !important;
    
   }