
#pie{
    background-color:#91A971;
    padding-right:10px;
    padding-left:10px;
}

#facebook, #twitter, #youtube, #apple, #android,#instagram{
    font-size: 1.5rem;
}
#conocenos, #descubre, #legal{

    font-family:alegreya-light;
}
#textpie{
    font-family:alegreya-light;
    background-color: rgba(0, 0, 0, 0.05);
}
footer i:hover{
    background-color:#8a9976;
    color:white;
}
dt {
    font-weight: normal !important;
}