
input[type=text],input[type=email],input[type=password],input[type=tel], select, textarea{
  width: 100%;
  padding: 10px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
fieldset {
  border-radius: 5px;
  background-color: #F4FBEB;
  padding: 20px;
  margin:5% 35% 5% 35%;
  border:2px solid #D6DCCE;
}
input[type=submit] {
  width: 100%;
  background-color: green;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type=submit]:hover {
    font-weight: bold;
    box-shadow: 6px 6px 10px -1px rgba(0, 0, 0, 0.15),
    -6px -6px 10px -1px rgba(255, 255, 255, 0.7);
}