<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>Hola Mundo</h1>
<button th:onclick="'location.href=\''+@{/calculos/primo/?numero={x}(x=${15})}+'\''">No Primo</button><br>
<button th:onclick="'location.href=\''+@{/calculos/primo/?numero={x}(x=${7})}+'\''">Primo</button><br>
<button th:onclick="'location.href=\''+@{/calculos/primo/}+'\''">Primo Error</button><br><br>
<button th:onclick="'location.href=\''+@{/calculos/hipotenusa/{x}/{y} (x=${2},y=${3})}+'\''">Hipotenusa</button><br>
<button th:onclick="'location.href=\''+@{/calculos/hipotenusa/{x}/{y} (x=${-2},y=${-3})}+'\''">Hipotenusa error</button><br><br>
<button th:onclick="'location.href=\''+@{/calculos/sinRepetidos/{x} (x=${20})}+'\''">Sin repetidos</button><br>
<button th:onclick="'location.href=\''+@{/calculos/sinRepetidos/{x} (x=${200})}+'\''">Sin repetidos error</button><br><br>
<button th:onclick="'location.href=\''+@{/calculos/divisores/{x} (x=${30})}+'\''">Divisores por Path</button><br>
<button th:onclick="'location.href=\''+@{/calculos/divisores/?num={x}(x=${15})}+'\''">Divisores por Request</button><br><br>

<button th:onclick="'location.href=\''+@{/fechas/{x} (x=${'2020-10-02'})}+'\''">dias transcurridos desde el 1 de enero al 2 de octubre</button><br>
<button th:onclick="'location.href=\''+@{/fechas/}+'\''">dias transcurridos desde el 1 de enero a hoy</button><br><br>
<button th:onclick="'location.href=\''+@{/fechas/{x}/{y} (x=${'2020-10-02'},y=${'2020-12-23'})}+'\''">dias transcurridos desde el 2 de octubre y el 23 de diciembre</button><br><br>

<button th:onclick="'location.href=\''+@{/fechas/bisiesto/{x} (x=${'2024-10-02'})}+'\''">año bisiesto</button><br>
<button th:onclick="'location.href=\''+@{/fechas/bisiesto/{x} (x=${'2022-10-02'})}+'\''">año no bisiesto</button><br>
<button th:onclick="'location.href=\''+@{/fechas/bisiesto/{x}/{y} (x=${'2000-10-02'},y=${'2020-12-23'})}+'\''">años bisiestos entre 2000 y 2020</button><br>
</body>
</html>
